<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArhMFIVn-nmLyOqcGafNpHvshHrrzqvaM</string>
	<key>GCM_SENDER_ID</key>
	<string>225320424878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ebookApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ebook-app-32ba8</string>
	<key>STORAGE_BUCKET</key>
	<string>ebook-app-32ba8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225320424878:ios:fb64c478c0d85af672643f</string>
</dict>
</plist>